<ion-toolbar>
    <ion-title>Productos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"><ion-icon name="home" size="large" ></ion-icon></ion-menu-button>
    </ion-buttons>
</ion-toolbar>
<ion-content [fullscreen]="true">
<!-- listar-productos.component.html -->

<ion-grid>
  <ion-row>
    <ion-col *ngFor="let producto of productos">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ producto.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ producto.descripcion }}</p>
          <p>Precio: ${{ producto.precio }}</p>
          <p>Cantidad: {{ producto.cantidad }}</p>
        </ion-card-content>
        <ion-footer class="ion-text-center" > <!-- Aplicar la clase para centrar -->
          <ion-button color="danger" *ngIf="puedeEliminarProducto(producto)"  (click)="eliminarProducto(producto.id)" size="small">
            Eliminar
          </ion-button>
          
        </ion-footer>
        <br>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>



</ion-content>
