<!-- Añadir un formulario de búsqueda -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Pokedex
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"><ion-icon name="home" size="large" ></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="pokemonForm" (ngSubmit)="buscarPokemon()">
    <ion-item class="ion-fixed">
      <ion-label position="floating">Nombre del Pokémon</ion-label>
      <ion-input formControlName="nombrePokemon" type="text"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="full">Buscar</ion-button>
  </form>

  <ion-card *ngIf="pokemon">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <img [src]="getPokemonImage(pokemon.url)" alt="{{ pokemon.name }}" class="pokemon-image">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-list>
              <ion-item>
                <ion-label>{{ pokemon.name | titlecase }}</ion-label>
              </ion-item>
              <ion-item *ngFor="let stat of pokemon.stats">
                {{ stat.stat.name | titlecase }}: {{ stat.base_stat }}
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Mostrar la lista de Pokémon -->
  <ion-card *ngFor="let pokemon of listaPokemon">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <img [src]="getPokemonImage(pokemon.url)" alt="{{ pokemon.name }}" class="pokemon-image">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-list>
              <ion-item>
                <ion-label>{{ pokemon.name | titlecase }}</ion-label>
              </ion-item>
              <ion-item *ngFor="let stat of pokemon.stats">
                {{ stat.stat.name | titlecase }}: {{ stat.base_stat }}
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
