<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>REGISTRO</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="dark"><ion-icon name="person-add" size="large" ></ion-icon></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <br>
  <div class="ion-text-center">
    <h2 class="position-relative">Registro de usuario</h2>
  </div>
  <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
      <div class="mb-3 container">
          <label class="form-label mx-auto p-2"><ion-icon name="mail-outline"></ion-icon>  Correo electronico</label>
          <input type="text" class="form-control" formControlName="email">
      </div>
      <div class="mb-3 container">
          <label class="form-label mx-auto p-2"><ion-icon name="lock-closed-outline"></ion-icon>  Contraseña</label>
          <input type="password" class="form-control container" formControlName="password">
      </div>
      <ion-row class="ion-center">
        <ion-col size="12" size-md="6"  style="text-align: -webkit-center;">
          <ion-button expand="full" color="success" type="submit" value="Enviar" style="width: 100px; border-radius: 5px; height: 10px;">Enviar</ion-button>
        </ion-col>
      </ion-row>
  </form>
  <br>
  <div class="ion-text-center">
    <a [routerLink]="['/cliente-login']" class="btn btn-light">¿Tienes una cuenta?</a>
  </div>
</ion-content>
